MainWindow {
/*    margin: 0;
    padding: 0;
    opacity: 0;
    border: 0;
    width: 300px;
    border-radius: 6px;*/
}

#SettingsWindow {
    border-radius: 6px;
    background: rgba(0,48,88,0.85);

}

#settingsIcon {
    qproperty-alignment: Right;
    margin: 0;
    padding: 0;
}
#timeLabel {
    font-size: 40px;
    color: #fff;
    margin: 0;
    padding: 0;
    qproperty-alignment: AlignCenter;
}

#line {
    width: 100px;
    margin: 0;
    padding: 0;
    height: 0px;
    opacity: 0;
}

#dateLabel {

    font-size: 19px;
    color: #fff;
    margin: 0;
    padding: 0;
    qproperty-alignment: AlignCenter;
}

